body{
    background-color: black;
    margin: 0;
    overflow-y: hidden;
}

section{
    width: 10000px;
    height: 100vh;
    background-color: white;
}
::-webkit-scrollbar {
    height: 5px;
}
  
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(141, 141, 141); 
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: gray; 
    border-radius: 10px;
}
  